<div class="front-menu stepwizard" id="top">
				<ul class="mobile-none desktop-block before-complete">
					<li><a routerLinkActive="active" [ngClass]='getClassOne()' [routerLink] = "'/overview'"> <i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i>Overview</a></li>
					<li><a routerLinkActive="active" [ngClass]='getClassTwo()' [routerLink] = "'/enrollee/plan'"><i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i> Review Your Personalize Options</a></li>
					<li><a routerLinkActive="active" [ngClass]='getClassThree()' [routerLink] = "'/enrollee/census'"><i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i>Confirm Your Information</a></li>
          <li><a routerLinkActive="active" [ngClass]='getClassFour()' [routerLink] = "'/enrollee/questionAnswer'"><i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i>Answer Questions</a></li>
					<li><a routerLinkActive="active" [ngClass]='getClassFive()' [routerLink] = "'/interface/payment'"><i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i>Premium Payment</a></li>
					<li><a routerLinkActive="active" class="disable" [routerLink] = "'/enrollee/finalize'"><i class="fa fa-chevron-circle-down d-block d-sm-none" aria-hidden="true"></i>Finalize Your Application</a></li>
				</ul>				
			</div>
      
