#step-bank h1{
  color:#5A6C74;
}
.modal-footer button.sub {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    height: 45px;
    border: none;
    border-radius: 1px;
    vertical-align: top;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
    -moz-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    background: rgb(104,116,126);
    background: -moz-linear-gradient(top, rgba(104,116,126,1) 0%, rgba(137,150,162,1) 100%);
    background: -webkit-linear-gradient(top, rgba(104,116,126,1) 0%,rgba(137,150,162,1) 100%);
    background: linear-gradient(to bottom, rgba(104,116,126,1) 0%,rgba(137,150,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68747e', endColorstr='#8996a2',GradientType=0 );
}
