<div class="front-headtop">
		<div class="front-wrapper">
			  <div class="table-wrapper">
					  <div class="front-headtop-left">
					    <!--<h1><span class='exceptional'>{{titleStart}}</span><span class='enrollment'>{{titleLast}}</span></h1>-->
				    </div>
				    <div class="front-headtop-right">
					    <ul>
						      <li class="mobile-none desktop-block">Welcome {{userName}} | <a href='javascript:' class="logOutCompany">Log off <span class='d-none d-sm-block'>your session</span></a></li>						      
					    </ul>
				  </div>
			  </div>
		</div>
</div>
<div class="front-head">
		<div class="front-wrapper">
			<div class="table-wrapper">
				<div class="front-head-left">
					<img src="assets/img/timthumb.jpg" alt="">
				</div>
				<div class="front-head-right">
          <div class='exceptional-header-desc'>Plan Sponsor</div>
        </div>        
			</div>
		</div>
	</div>
